.cus-frm-main {
  /* Behavior */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* color */

  /* Spaces and sizes */
  gap: 1em;
}

.contact-main {
  /* Behavior */
  display: flex;
  flex-direction: row;

}

/* From contact us details - start */
.conde-mdiv {
  /* behavior */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Colors */
  /* background-color: salmon; */
  /* Spaces */
  padding: 2em;
  margin-top: 0.5em;
}

.conde-mdiv p {
  /* Outline and colors */
  /* border: 2px dotted blueviolet; */
  color: #261c2c;
  /* Fonts */
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  /* Spaces */
  margin-bottom: 0;
}

.conde-details {
  /* behavior */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* colors */
  /* background-color: goldenrod; */
  /* Sizes and spaces */
  width: 100%;
  gap: 2em;
  margin: 1em 0em;
  padding-top: 2em;
}
/* Contact cards */
.conde-card-row{
  display: flex;

}

.cus-button-container{
  display: flex;
  background-color: antiquewhite;
}






.cus-frm-label {
  /* Behavior */

  /* color */

  background-color: rgba(112, 112, 112, 0.3);
  /* Spaces and sizes */
  width: 100%;

  padding: 3em 1em;
}

.cus-frm-label h4 {
  /* Colors */
  color: #4b3db2;
  /* Font */
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 2rem;          
text-align: center;
}

/* Contact Us Form */

.cus-frm-form {
  /* Behavior */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
 margin:0em 0em 0em 2em;

  width: 100%;
  max-width: 45em;
  gap:1em;
}

.cus-frm-form label {
  /* Behavior */
  justify-content: flex-start ;
  /* font */
  font-family: Poppins, sans-serif;
  /* Spaces and sizes */
  margin-right: 1em;

}

.cusfrm-res{
  display: flex;
  flex-wrap: 1;
}
.cus-frm-form input {
  border: 2px solid #4b3db2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.3em 1em 0.3em 0.3em;
}

.cus-frm-form input::placeholder {
  /* Fonts */
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
}

.cus-frm-form textarea {
  border: 2px solid #4b3db2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.3em 1em 0.3em 0.3em;
  height: 10em;
}

.cus-frm-form textarea::placeholder {
  /* Fonts */
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
}

.cus-frm-req p {
  /* Fonts */
  font-family: Poppins, sans-serif;
  /* Sizes and spaces */
  margin-bottom: 0;
  margin-top: 1.5rem;
}

/* Imported form  */

.custom-button-2 {
  /* color  */
  background-color:#4b3db2;
  border: 3px solid #4b3db2;
  padding: 0.5em 0em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  /* Sizes and spacing */
  width: 60%;
  padding-left: 10px;
  cursor: default;
  position: absolute;
  bottom:0;
  right: 0;
  max-width: 10em;
  margin-bottom:1em;
}
.contact-us-form form::placeholder{
  font-family: Poppins, sans-serif;
}
.custom-button-2:hover{
  cursor: default;
  background-color: #ffffff;
  color: #261c2c;
  border: 2px solid #ffffff;
}



.bottom-text {
  color: white;
}



.contact-us-mdiv{

  display: flex;
  justify-content: center;
  align-items: center;
 
}

.contact-us-details{

  flex: 1;
  
}

.contact-us-form{

  flex: 1;
  margin: 2em;
  justify-content: center;
  align-items: center;
  padding: 0em 0em  10em 0em;
}

.contact-us-form label{
  margin-left: 0;
  margin-top: 1em;
  text-align: left !important;
}

.contact-us-form button{
  margin-top: 1em;
  margin-right: 3em;
}
.contact-us-details-row1{

  display: flex;
  padding: 2em 2em;
 
}
.contact-us-details-row1-col1{

  flex: 1;
  display: flex;
  justify-content: center;
  
}

.contact-us-details-row1-col2{

  flex: 1;
  display: flex;
  justify-content: center;
 

}

.contact-us-details-row2{

  display: flex;
  padding: 2em 2em;
}
.contact-us-details-row2-col1{

  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-us-details-row2-col2{

  flex: 1;
  display: flex;
  justify-content: center;
}

.conde-card {
  
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid #4b3db2;

 
  margin: 0.5em 0em;
  width:70%;
 
  gap: 0.5em;
  max-width: 25em;
  margin: 1em 2em;
  padding: 2em 2em;
}

.conde-card h2 {
 
  color: #261c2c;

  font-family: Poppins, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;

  
  margin-bottom: 0;
  margin-top: 2em;
}

.conde-card h4 {

  color: #261c2c;
 
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 1rem;
 
  margin-bottom: 0;
}

.conde-card p {
  
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  color: #261c2c;
  
  margin-bottom: 1em;
}

.cc-circle {

  position: absolute;

  height: 5em;
  width: 5em;
  border-radius: 5em;
  margin-top: -4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: rgba(200, 200, 200, 1);
}

.cc-circle svg{
  text-align: center;
}

.map-main{
  border: 3px solid #4b3db2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-main iframe{

 margin-left: 1em;
 width:70%;

 border: 2;
}

@media (max-width:1200px){
  .contact-us-details-row1{
    padding: 1em 1em;
  }

  .conde-card{
    margin:1em 1em;
    display: flex;
    
  }

  .conde-card h2{
    margin-top: 1em;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
  }

  .conde-card-increase-margin{
    margin-top: 2em;
  }
}

@media (max-width:992px) {
  .contact-us-details-row1{
    flex-direction: column;
  }

  .contact-us-details-row2{
    flex-direction: column;
  }

  .conde-card{
    margin-top: 2em;
  }

  .contact-us-form{
    padding-bottom: 30em;
  }

  
}


@media (max-width:768px){
  .contact-us-mdiv{
    flex-direction: column-reverse;
  }

  .conde-card{
    max-width: 20em;
  }

  .contact-us-details-row2{
    margin-top: 0; 
  padding-top: 0; }

  .contact-us-form{
    padding-bottom: 5em;
  }
  .contact-us-form form{
    width: 100%;
    
  }

  .custom-button-2{
    position: relative;
    right: -2.5em;

    
  }

}
