@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.first-row{
    font-family: "Calistoga", serif;
    font-weight: 500;
    font-style: normal;
    color:azure;
    font-size: 40px;

}

.get-in-touch-des{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.user-input{
    margin-left: 100px;
    margin-right: 100px;
}

.custom-button-2{
    padding-left: 10px;
}

.bottom-text{
    color:white
}

@media(max-width:592px){
    .main-div{
        margin-top: 100px;
    }


}

@media(max-width:768px){
    .user-input{
        margin-left: 0px;
        margin-right: 0Px;

    }

    .first-row{
        font-size: 20px;
    }
}

@media(max-width:992px){
    .first-row{
        font-size: 30px;
    }
}

@media(max-width:1200px){
    .user-input{
        margin-left: 50px;
        margin-right: 50Px;
    }

  
}