@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rowdies:wght@300;400;700&display=swap');

.map-f-div {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 40px;
}

.content-map{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.details-div {
  background: linear-gradient(to right, #f64668, #fe9677);
  color: #41436a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin-left: 300px;
    margin-right: 300px;
}

.social-media {
  width: 30px;
}

.contact-us-hero-m-div {

}

@media (max-width: 1200px) {
  .map-f-div {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
  }

  .details-div{
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 992px) {
  .map-f-div {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
  }

  .details-div{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .map-f-div {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }

  .details-div{
    margin-left: 0px;
    margin-right: 0px;
  }


}

@media (max-width: 542) {
  .git-logo {
    margin-top: 5px;
  }
}
