@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rowdies:wght@300;400;700&display=swap');
.con-us-def{
  margin-left: 200px;
  margin-right: 200px;
}
.c-us-hero{
  margin-top: -100px;
  min-height: 1vw;
}

.c-us-hero-div{
 
  position: absolute;
  top: 70%;

}

.c-us-hero-text{
  color: #261c2c;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 90px;
}

.c-us-map-cd-mdiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.c-us-map-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: antiquewhite; 
}

.c-us-conde-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
 
}

.c-us-conde-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin-top: 10px; 
}

.c-us-conde-icon{
  width: 50px;
  height: 50px;

}

.c-us-conde-icon-color{
  fill: #f2f2f2;
}

.c-us-conde-font{
  font-family: "Exo 2", sans-serif;
  color: #f2f2f2;
}

.c-us-conde-git{
  margin-top: 40px;
}