.button-explore{
    height: 3em;
    width: max-content;
    padding-left: 1em;
    padding-right: 1em;
    border-color: #707070;
    border-width: 1px;
    margin-top: 10%;
    box-shadow: 1px 1px 3px 3px #707070;
    font-family: Poppins;
    font-style: regular;
    font-size: 1rem;
    font-weight:900;
    transition: background-color .6s ease, transform .6s;
}

.button-explore:hover{
    background-color: #707070;
    color: #f2f2f2;
   
}
