.hm-customer-reviews-mdiv {
  /* background-image: url(../../../Assets/Home/CustomerReviews/background.png); */
  /* background-size: cover; */
  /* z-index: 1; */
}

.hm-customer-reviews-heading{
  /* border: 2px solid salmon; */
  padding-top: 2em;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
}

.hm-customer-reviews-heading p{
  margin-bottom: 0;
  font-family: "Lovelo";
  color: #f2f2f2;
  font-size: 3rem;

}

.hm-customer-reviews-background {
  display: flex;
  padding-top: 3%;
  padding-bottom: 5%;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  /* z-index: 2; */
}
.hm-customer-reviews-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  padding: 1%;
  border-radius: 20px;
  z-index: 20;
}

.hm-customer-reviews-title {
  margin-bottom: 5%;
}

.hm-customer-reviews-title p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  color: #f2f2f2f2;
  transition: all 0.5s ease;
}

/* .hm-customer-reviews-title   p:before{  content:"the ninjas";
  position:absolute;
  color:#262626;
  top:0;
  left:0;
  width:0%;
  overflow:hidden;
  transition:all 0.5s;
 
  
} */

.hm-customer-reviews-title > p:hover {
  /* width: 100%; */
  scale: 0.9;
  color: #f2f2f2;
}

a {
  text-decoration: none;
}

.hm-customer-reviews-stars img {
  max-width: 35%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 20px;
}

.hm-customer-reviews-stars p {
  font-family: Poppins;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 750;
  color: #f2f2f2;
  margin-top: 1%;
  margin-right: 30%;
  margin-left: 30%;
  border-radius: 10px;
  background-color: #4b3db2;
  transition: background-color 0.6s ease, transform 0.6s;
}

.hm-customer-reviews-stars p:hover {
  background-color: #f2f2f2;
  color: #4b3db2;
  cursor: pointer;
}

.hm-customer-reviews-img{
  transition: transform 0.5s ease;
}

.hm-customer-reviews-img:hover {
  transform: scale(1.05);
}

.hm-customer-reviews-img img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.hm-customer-reviews-mob {
  display: none;
}

@media (max-width: 1200px) {
  .hm-customer-reviews-title p{
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .hm-customer-reviews-title p {
    font-size: 1.2rem;
  }


}

@media (max-width: 768px) {
  .hm-customer-reviews-title p{
    font-size: 0.8rem;
  }

  .hm-customer-reviews-heading p{
    font-size: 2rem;
  }
}

@media (max-width: 552px) {
  .hm-customer-reviews-background {
    flex-direction: column;
    align-items: center;
  }

  .hm-customer-reviews-card {
    width: 100%;
    margin-left: 5em;
    margin-right: 5em;
  }

  .hm-customer-reviews-mob {
    display: block;
  }

  .hm-customer-reviews-desk {
    display: none;
  }

  .hm-customer-reviews-title{
    padding-top: 2em;
  }

  .hm-customer-reviews-title p{
    font-size: 2rem;
  }
  
  
}
