@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rowdies:wght@300;400;700&display=swap");

@import url('https://fonts.cdnfonts.com/css/lovelo');


.nav-sm-toggler{
  display: none;
}

.side-nav{
  display: none;
}

.container-header {
  width:100%;

  top: 0;
  position: fixed;
  background-color: #4b3db2;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 99;
  overflow: hidden;
  
}

/* .container-header.scrolled {
  background-color: #4b3db2;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: -100px;
  opacity: 0.8;
} */

.link {
  text-decoration: none;
  color: white;
  font-family: "Lovelo", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  -webkit-transition: color 0.5s ease-in-out;
}


.nav-container-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -8px;
  margin-top: -8px;
  
}

.nav-container-contact{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-icon{
  overflow: hidden;
  margin-right: 50px;
  margin-top: -4px;
}

.nav-phone{
  max-width: 25%;
  margin-top: 5%;
}

.nav-phone:hover{
  background-color: #f2f2f2;
}

.nav-phone-number{
  color: #f2f2f2;
  font-size: 1rem;
  font-family: 'Lovelo', sans-serif;
  font-weight: 900;                                              
  padding-right: 6%;
  margin-top: 15%;
}
.a-us-conde-icon {
  width: 30px;
  height: 30px;
  padding-top: 6px;
  padding-left: 10px;
}

.a-us-conde-icon-color {
  fill: #f2f2f2;
}

.sidebar .link {
  width: 100%;
}
.link:hover {
  color: gray;
}

@media (mmax-width: 1200px) {
}

@media (max-width: 992px) {
 
}

@media (max-width: 768px) {
 

  .link {
    font-size: 15px;
  }
}


@media (max-width: 552px) {


  .container-header {
    display: none;
  }

  .nav-sm-toggler{
    display: flex;
   
   justify-content: flex-end;
   background-color: #4b3db2;
  }

  .nav-sm-toggler-deactive{
    display: none;
  }

  .nav-sm-toggler .toggle-btn{
    background-color: #4b3db2;
    border-radius: 10px;
    color: #f2f2f2;
    border: none;
    outline: none;
    position: absolute;
    z-index: 5  ;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    opacity:0.7;
  }

  .close-btn{
    background-color: #4b3db2;
    border-radius: 10px;
    color: #f2f2f2;
    border: none;
    outline: none;
    position: absolute;
    z-index: 5  ;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    opacity:0.7;
    right: 0;
  }

  .side-nav-list{
    list-style-type: none;
  }

  .side-nav-list-item {
    text-decoration: none;
    color: #f2f2f2;
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
  }

  .side-nav{
    display: none;
    
  }

  .side-nav-active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 100%;
    background-color: #4b3db2 ;
    opacity: 0.9;
  }

  .side-nav-deactive{
    display: none;
  }



}



@media (max-width: 400px) {


  

  
}
