@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rowdies:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav-sm-toggler {
  display: none;
}

.side-nav {
  display: none;
}

.container-header {
  width: 100%;

  top: 0;
  position: fixed;
  background-color: transparent;
  padding: 1em 0em;
  z-index: 99;
  overflow: hidden;
}

.container-header-scrolled {
  height: 2em;
}

.link {
  text-decoration: none;
  color: #f2f2f2;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  -webkit-transition: color 0.5s ease-in-out;
}

.link::before {
  content: "";
  position: absolute;
  bottom: -0.5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.link:hover::before {
  background-color: #4b3db2   ; /* Color of the underline on hover */
  border-radius: 20px;
}

.container-header {
  transition: background-color 0.5s ease-in-out;
}

.nav-scrolled {
  background-color: #4b3db2;
}

.link span {
  font-weight: 800;
}

.nav-container-div {
  height: 100%;
  width: 100%;
}

.nav-container-items {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.nav-container-contact {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.a-us-conde-icon {
  width: 30px;
  height: 30px;
  padding-top: 6px;
  padding-left: 10px;
}

.a-us-conde-icon-color {
  fill: #f2f2f2;
}

.sidebar .link {
  width: 100%;
}

.side-menu {
  display: none;

}

/* Navigation details */

.nav-contact-details {
  /* border: 2px solid aqua; */
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nav-contact-details-t {
  /* border: 2px solid aqua; */
  display: none;
}

.nav-icon {
  overflow: hidden;
  display: block;
}

.nav-contact-ph {
  color: #f2f2f2;
  /* border: 2px dotted orange; */
  overflow: hidden;
  position: absolute;
 right: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: -2em;
  margin-right: 2em;
}

.nav-contact-ph-t {
  color: #f2f2f2;
  border: 2px dotted green;
  overflow: hidden;
  margin-bottom: 0;

  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

@media (max-width: 1200px) {
.nav-contact-ph{
  display: none;
}
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .link {
    font-size: 15px;
  }
}

@media (max-width: 552px) {
  /* Old Navigation */
  .container-header {
    display: none;
  }

  /* New Navigation */
  #menu {
   
  }

  .side-menu {
    display: block;
    z-index:3;
  }

  .t1 {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: #f2f2f2;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 0.3s ease;
    display: none;
  }

  .nav ul {
    padding: 0 22px;
  }

  .nav li {
    list-style: none;
    padding: 12px 0;
  }

  .nav li a {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }

  .nav li a:hover {
    color: #707070;
    font-weight: bold;
  }

  .menu-bg,
  #menu {
    top: 0;
    left: 0;
    position: absolute;
    align-items: end;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #4b3db2, #4b3db2);
    border-radius: 50%;
    transition: 0.3s ease;
  }

  .change {
    display: block;
;
  }

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  .change-bg {
    width:700px;
    height: 700px;
    margin-right: 30%;
    margin-left: 30%;
    transform: translate(-60%, -30%);
  }
}

@media (max-width: 400px) {
}
