    

    .hm-sv-container {
      margin-left: 2%;
      margin-right: 2%;
    }

    .hm-sv-title-container {
      margin-top: 3%;
    }

    .hm-sv-title {
      font-family: "Lovelo", sans-serif;
      font-weight: 700;
      color: #4b3db2;
      margin-left: auto;
      margin-right: auto;
      font-size: 3rem;
      padding-bottom: 2%;
    }

    @media(max-width: 768px) {
      .hm-sv-title{
        font-size: 2rem;
      }
    }

    @media(max-width: 492px) {
      .hm-sv-title{
        font-size: 1.8rem;
        padding-top: 2%;
      }
    }


    /* Cards */
    .hm-sv-card-container {
      /* display: grid;
      grid-auto-flow: column; */
      /* grid-auto-columns: 25%; */
      /* gap: 3%; */
      /* overflow-x: auto; */
      /* overscroll-behavior-inline: contain; */
    }

    .hm-sv-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 20%;
      padding-right: 20px;
    
    }


    .hm-sv-card-content{
      border-radius: 20px;
      border: 2px solid #707070;
      padding-top: 8%;
      padding-bottom: 2%;
      height: 350px;
      transition: background-color 0.5s ease;
    }

    .hm-sv-card-content:hover{
        cursor: pointer;
        background-color: rgba(112, 112, 122, 0.2 );
        
    }

    .hm-sv-card-tagcontainer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;  
      margin-left: 4%;
      margin-top: 0;
      margin-right: 0;
    }

    .hm-sv-card-tagcontainer p{
      background-color: #4b3db2;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
      /* Adjust the values for shadow spread, blur, and color */ 0 0 0 transparent,
      /* No shadow on top */ 0 0 0 transparent,
      /* No shadow on right */ 0 0 0 transparent; /* No shadow on left */
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 0.8%;
    }

    .hm-sv-card-tagcontainer p {
      color: #f2f2f2;
      font-size: var(--fs-tags);
      font-weight: bold;
      font-style: italic;
      font-size: small;
      margin-bottom: 0;
    }

    .hm-sv-card-img {
      max-width: 100px;
      height: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: auto;
      margin-right: auto;
    }

    .hm-sv-card-title {
      color: #000000;
      font-family: Poppins;
      font-size: 1.5rem;
      font-weight: 500;
      padding-left: 2%;
      padding-right: 2% 
  

    }

    .hm-sv-card-para {
      font-family: Poppins;
      font-weight: 200;
      font-size: 1rem;
      padding-left: 8%;
      padding-right: 8%;
      margin-top: 3%;
    }



    .hm-sv-card-btn {
      padding-bottom: 3%;
    }
    @media (max-width: 1200px) {
      .hm-sv-card-title{
        font-size: 1.2rem;
      }
      .hm-sv-card-para{
        font-size: 0.9rem;
      }

    }

    @media (max-width: 992px) {
      .hm-sv-card-title {
        font-size: 1.1rem;
      }

      .hm-sv-card-para{
        font-size: 0.8rem;
      }
    }

    @media (max-width: 768px) {
      .hm-sv-card-title {
        font-size: 1rem;
      }

      .hm-sv-card-para{
        font-size: 0.7rem;
      }
    }

    @media (max-width: 552px) {
      .hm-sv-card-title {
        font-size: 1.5rem;
      }

      .hm-sv-card-para{
        font-size: 1rem;
      }
    }

    @media (max-width: 390px) {
      .hm-sv-card-title {
        font-size: 1.2rem;
      }

      .hm-sv-card-para{
        font-size: 0.9rem;
      }
    }

