.hm-sv-container{
margin-left: 5px;
margin-right: 5px;
}

.hm-sv-title-container{
    margin-top: 3%;
}

.hm-sv-title{
    font-family: 'Lovelo', sans-serif;
    font-weight: 700;
    color:#4b3db2   ;
    margin-left: auto;  
    margin-right: auto;
    font-size: 3rem;
    padding-bottom: 2%;
}

/* Cards */
.hm-sv-card-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap:3%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
   

}
.hm-sv-card{
    background-color: rgba(112,112,122,0.2) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;    
    min-width: 20%;
    padding-top: 8%;
    border-radius: 20px;
    padding-bottom: 2%;
    
}

.hm-sv-card-tagcontainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 4%;
    margin-top: 0;
    margin-right: 0;
    background-color: rgba(75, 61, 178, 0.8);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.8%;
    border-radius: 10px;   
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), /* Adjust the values for shadow spread, blur, and color */
              0 0 0 transparent, /* No shadow on top */
              0 0 0 transparent, /* No shadow on right */
              0 0 0 transparent; /* No shadow on left */
    
   
}

.hm-sv-card-tagcontainer p{
    color: #f2f2f2;
    font-weight: bold;
    font-style: italic;
    font-size: small;
    margin-bottom: 0;
}

.hm-sv-card-img{
    max-width: 100px;
    height: auto;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

.hm-sv-card-title{
    color: #000000;
    opacity: 100%;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    padding-left: 7%;
}

.hm-sv-card-para{
    font-family: 'Open sans', sans-serif;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 3%;
}

.hm-sv-card-btn{
    padding-bottom: 3%;
}