.ser-mdiv {
  display: flex;

  margin-top: 2em;
}
/* Left column */
.ser-left {
  /* flex: 1.7; */
}

.ser-web-mdiv h2 {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #4b3db2;

  white-space: nowrap;

  margin: 0em 0em 1em 1.5em;
  text-align: left;
}

.ser-web-mdiv p {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #261c2c;

  text-align: left;
  margin: 0em 0em 1em 5em;
  transition: all 0.2s ease-in-out;
}

.ser-web-mdiv p:hover {
  color: #4b3db2;
  transform: scale(1.1, 1.2);
}

.ser-it-mdiv h2 {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #4b3db2;

  margin: 2em 0em 1em 1.5em;
  text-align: left;
}

.ser-it-mdiv p {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #261c2c;

  text-align: left;
  margin: 0em 0em 1em 5em;
  transition: transform 0.2s ease-in-out;
}

.ser-it-mdiv p:hover {
  color: #4b3db2;
  transform: scale(1.1, 1.2);
}
/* right column */

.ser-right {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  margin-top: 5em;

}

.ser-paragraphs{
  display: flex;
  flex-direction: column;
 align-items: center;
  background-color: rgba(112,112,112,0.2);
  border-radius: 20px;
  padding:2em;
  margin-right: 3em;

}

.ser-paragraphs p{
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-align: justify;
  line-height: 2;

}

.ser-paragraphs p span{
  font-weight: 700;
}


@media (max-width:1700px) {
  .ser-right {

    margin-top: 5em;
    margin-left: -11em;
  }
}

@media (max-width:1500px) {
  .ser-right {

 
    margin-left: -11em;
  }
  .ser-web-mdiv h2{
    font-size: 2.5rem;
  }

  .ser-it-mdiv h2{
    font-size: 2.5rem;
  }

  .ser-web-mdiv p{
    font-size: 1.5rem;
  }
  .ser-it-mdiv p{
    font-size: 1.5rem;
  }
 
  .ser-slider-img img{
    max-width: 50%;
  }
}

@media (max-width:1200px) {
  .ser-right {
    margin-left: -15em;
    margin-top: 9em;
  }
  .ser-web-mdiv h2{
    font-size: 2.5rem;
  }

  .ser-it-mdiv h2{
    font-size: 2.5rem;
  }

  .ser-web-mdiv p{
    font-size: 1.5rem;
  }
  .ser-it-mdiv p{
    font-size: 1.5rem;
  }
 
  .ser-slider-img img{
    max-width: 45%;
    border-radius: 3em;
  }
}

@media (max-width:992px) {

}
@media (max-width:768px) {
  .ser-web-mdiv h2{
    font-size: 2rem;
    white-space: inherit;
    
    margin: 0em 0em 1em 1em;
  }

  .ser-it-mdiv h2{
    font-size: 2rem;
    white-space: inherit;
    
    margin: 0em 0em 1em 1em;

  }

  .ser-web-mdiv p{
    font-size: 1.3rem;
    
  }
  .ser-it-mdiv p{
    font-size: 1.3rem;

  }
} 

@media (max-width:552px) {
  .ser-web-mdiv h2{
    font-size: 1.5rem;
    white-space: inherit;
    
    margin: 0em 0em 1em 1em;
  }

  .ser-it-mdiv h2{
    font-size: 1.5rem;
    white-space: inherit;
    
    margin: 0em 0em 1em 1em;

  }

  .ser-web-mdiv p{
    font-size: 1.1rem;
    
  }
  .ser-it-mdiv p{
    font-size: 1.1rem;

  }
} 