.ser-mdiv {
  display: flex;

  margin-top: 2em;
}
/* Left column */
.ser-left {
  /* flex: 1.7; */
}

.ser-web-mdiv h2 {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #4b3db2;

  white-space: nowrap;

  margin: 0em 0em 1em 1.5em;
  text-align: left;
}

.ser-mlink{
  text-decoration: none;
}

.ser-web-mdiv p {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #261c2c;

  text-align: left;
  margin: 0em 0em 1em 5em;
  transition: all 0.2s ease-in-out;
}

.ser-web-mdiv p:hover {
  color: #4b3db2;
  transform: scale(1.1, 1.2);
}

.ser-it-mdiv h2 {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #4b3db2;

  margin: 2em 0em 1em 1.5em;
  text-align: left;
}

.ser-it-mdiv p {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #261c2c;

  text-align: left;
  margin: 0em 0em 1em 5em;
  transition: transform 0.2s ease-in-out;
}

.ser-it-mdiv p:hover {
  color: #4b3db2;
  transform: scale(1.1, 1.2);
}
/* right column */

.ser-right {
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.ser-slider-img {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5em 2em 5em 5em;
}

.ser-slider-img img {
  border-radius: 5em;
  width: auto;
  height: auto;
  box-shadow: 1px 1px 70px 10px #4b3db2;
  padding: 0.5em 0.5em;
  background-color: #4b3db2;
}
