.ser-web {
  /* Colors */
  /* border: 5px solid green; */
  /* Behavior */
  display: flex;
  align-items: center;
  justify-content: start;
  /* Spacing and sizes */
  margin: 2em;
  gap: 5em;
}

.ser-titles {
  /* Colors */
  /* border: 5px solid gold; */

  /* Behavior */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Spacing and sizes */
  margin-left: 1rem;
}
.ser-individual-service {
  /* Behavior */
  position: absolute;
  justify-content: end;
  margin-right: 0;
  /* Colors */
  /* border: 5px dashed red; */
  background-color: rgba(112, 112, 112, 0.3);
  /* Spacinng and sizes */
  max-width: 35em;
  width: 50%;
  min-width: none;
  padding: 1em;
  margin-left: 50em;
}

.ser-individual-service p {
  /* Colors  */
  /* border: 3px dashed black; */
  /* Fonts */
  font-family: Poppins, sans-serif;
  font-weight: 500;
  /* Spaces and sizes */
  margin: 0;
}

.ser-individual-service span {
  /* Colors  */
  /* border: 3px dashed blue; */
  /* Fonts */
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color: #2c1c2c;
}

.ser-web h1 {
  /* colors */
  /* border: 5px dashed; */
  /* Fonts */
  font-family: Poppins, sans-serif;
  font-weight: 900;
  font-size: 3rem;
  /* Spacing and Sizes */
  margin-left: 1em;
  margin-bottom: 0;
  padding: 0.2em;
  margin-top: 0.5em;
}

.ser-web-services {
  /* colors */
  /* border: 4px solid red; */
  /* Behavior  */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* Fonts */
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  color: #2c1c2c;
  /* Spaces and sizes */
  /* margin-left: auto; */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 5em;
}
.link-web {
  /* colors */
  /* border: 3px dashed red; */
  /* Fonts */
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #2c1c2c;
  /* Sizes and spacing */
  padding: 0.5em;
  text-align: start;
}
.ser-web-services Link {
  color: #2c1c2c;
}

/* Responsive */
@media (max-width: 1500px) {
  .ser-web h1 {
    /* fonts   */
    font-size: 2rem;
  }
  .link-web {
    /* font */
    font-size: 1.5rem;
    /* Spacing and sizes */
  }
  .ser-individual-service {
    /* sizes and spacing */
    max-width: 30em;
    width: 40%;
    min-width: none;
    padding: 1em;
    margin-left: 40em;
  }
}
@media (max-width: 1200px) {
  .ser-web h1 {
    /* fonts */
    font-size: 1.5rem;
  }
  .link-web {
    /* font */
    font-size: 1rem;
  }

  .link-web {
    /* font */
    font-size: 1.2rem;
    /* Spacing and sizes */
  }
  .ser-individual-service {
    /* sizes and spacing */
    width: 35%;
    min-width: 15rem;
    min-width: none;
    padding: 1em;
    margin-left: 35em;
  }

  .ser-individual-service p {
    font-size: 0.8rem;
  }
  .ser-individual-service span {
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  .ser-web {
    margin: 1em;
  }
  .ser-titles {
    margin-left: 0;
  }
  .ser-web-services {
    margin-left: 3rem;
  }
  .ser-web h1 {
    /* fonts */
    font-size: 1.2rem;
  }
  .link-web {
    /* font */
    font-size: 1rem;
  }

 
  .ser-individual-service {
    /* sizes and spacing */
    max-width: 30em;
    width: 30%;
    min-width: 10rem;
    min-width: none;
    padding: 1em;
    margin-left: 26em;
  }

  .ser-individual-service p {
    font-size: 0.7rem;
  }
  .ser-individual-service span {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .ser-individual-service{
    /* Behavior  */
    display: none;
  }
    
  .ser-web h1 {
    /* fonts */
    font-size: 1.5rem;
  }
  .link-web {
    /* font */
    font-size: 1.2rem;
  }

}
@media (max-width: 552px) {
  .ser-web{
    margin-left: 0;
    /* Behaviors */
    justify-content: center;
  }

  .ser-web h1 {
    /* Sizes and spacing */
    margin-left: 0;
    text-align: center;
    /* fonts */

  }
}
@media (max-width: 460px) {
  .ser-web h1{
    /* fonts */
    font-size: 1.2rem;
  }

  .link-web{
    /* font */
    font-size: 1rem;
  }

}
@media (max-width: 320px) {
}
