.number{
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(2px+0.38vw);
    color: white;
}

.background{
    background-image: linear-gradient(to bottom, #4b149e, #ea2a97 );
}

.des{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}

@media screen and (max-width:576px){
    .number{
        font-size: 40px;
    }

    .des{
        font-size: 20px;
    }
    
}