.number{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.background{
    background-image: linear-gradient(to bottom, #4b149e, #ea2a97 );
}

.des{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}