@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");

.footer-font li {
  /* Fonts */
  font-family: Poppins, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
  color: white;
  transition: transform 0.3s ease-in-out;

}

.footer-font svg {
  margin-right: 0.5em;
}

.footer-font li:hover {
  font-weight: 700;
  transform: scale(1.2, 1.2);
}

.footer-description {
  font-family: Poppins, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  color: white;
}

.footer {
  background-color: #4b3db2;
  padding: 20px 0;
}

.container {
  max-width: 1700px;
  display: flex;
}

.footer-column {
  padding: 1.5em;
}

.footer-column.large {
  flex: 3;
}

.footer-column.small {
  flex: 1;
}


.footer-column.extra-small{
  flex:0.7
  
}

.footer-column h3,
.footer-column h4 {
  margin: 0 0 10px 0;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-align: left;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin: 5px 0;
}

.footer-column a {
  text-decoration: none;
  color: white;
}

.f-color {
  color: white;
}

.footer-contact-details-quick-links{
  display: flex;
  justify-content: center;
}

.footer-contact-details{
  display: flex;
  margin-bottom: 1em;
}

.footer-contact-details h4{
  font-size: 1rem;
  font-family: poppins, sans-serif;
  align-self: center;
  margin-bottom: 0;
}

.footer-social-media-mob{
  display: none;
}

.footer-social-media-desk{
  display: flex;
  justify-content: center;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .footer-column {
    flex: 1; 
    text-align: center;
    align-items: center;

  }

  .footer-column h3,h4{
    text-align: center;
    align-self: flex-start;
  }

  .footer-column.small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-column.extra-small{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-social-media-mob{
    display: flex;
    justify-content: center;
  }

  .footer-social-media-desk{
    display: none;
  }

  .footer-description{
    text-align: center;
  }

  .footer-our-services{
    align-self: center;
  }
}
