@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rowdies:wght@300;400;700&display=swap");

.nav-sm-toggler{
  display: none;
}

.side-nav{
  display: none;
}

.container-header {
  width: 50%;
  margin: auto;
  top: 50px;
  position: relative;
  background-color: #4b3db2;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: width 1s ease-in-out;
  z-index: 11;
}

.container-header.scrolled {
  background-color: #4b3db2;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: -100px;
  opacity: 0.8;
}

.link {
  text-decoration: none;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: color 1s ease-in-out;
}

.nav-web{
  display: flex;
}

.nav-icon{
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  margin-right: 50px;
  margin-top: -4px;
}






.sidebar .link {
  width: 100%;
}
.link:hover {
  color: black;
}

@media (mmax-width: 1200px) {
}

@media (max-width: 992px) {
  .container-header {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .container-header {
    padding-top: 0px;
    padding-bottom: 0px;
    top: 20px;
  }

  .link {
    font-size: 15px;
  }
}


@media (max-width: 552px) {


  .container-header {
    display: none;
  }

  .nav-sm-toggler{
    display: flex;
   
   justify-content: flex-end;
   background-color: #4b3db2;
  }

  .nav-sm-toggler-deactive{
    display: none;
  }

  .nav-sm-toggler .toggle-btn{
    background-color: #4b3db2;
    border-radius: 10px;
    color: #f2f2f2;
    border: none;
    outline: none;
    position: absolute;
    z-index: 5  ;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    opacity:0.7;
  }

  .close-btn{
    background-color: #4b3db2;
    border-radius: 10px;
    color: #f2f2f2;
    border: none;
    outline: none;
    position: absolute;
    z-index: 5  ;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    opacity:0.7;
  }

  .side-nav-list{
    list-style-type: none;
  }

  .side-nav-list-item {
    text-decoration: none;
    color: #f2f2f2;
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
  }

  .side-nav{
    display: none;
    
  }

  .side-nav-active{
    display: flex;
    flex-direction: column;
    background-color: #4b3db2;
  }

  .side-nav-deactive{
    display: none;
  }



}



@media (max-width: 400px) {


  

  
}
