@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");


.montserrat-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  color: azure;
}

.exo-2-title-description{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style:normal;
  color: azure;
  font-size: 20px;
}

.name-and-title {
  background: linear-gradient(to right, #984063, #f64668, #984063);
  padding-left: 0px;
  position: sticky;
}

.member-description{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style:normal;
  color: azure;
}

.card-title {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
  color: azure;
}

.card-text {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style:normal;
  color: azure;
}

.card-body {
  padding-left: 0px;
  padding-right: 0px;
}

.column-1 {
  margin-bottom: 200px;
}

.image {
  border-radius: 50%;
  width: 150px;
}

.card-style {
  max-width: 350px;
  background-color: #984063;
}

.team-description-div {
  padding-left: 400px;
  padding-right: 400px;
}

@media (max-width: 1200px) {
  .team-description-div {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 768px) {
  .team-description-div {
    padding-left: 100px;
    padding-right: 100px;
  }
}
