@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.montserrat-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  color: #3e2c41;
}

.exo-2-title-description{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style:normal;
  color: #4b3db2;
  font-size: 20px;
}

.name-and-title {
  background: linear-gradient(to right,#3e2c41, #4b3db2,  #3e2c41);
  padding-left: 0px;
  position: sticky;
}

.member-description{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style:normal;
  color: azure;
}

.card-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
  color: azure;
}

.card-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style:normal;
  color: azure;
}

.card-body {
  padding-left: 0px;
  padding-right: 0px;
}

.column-1 {
  margin-bottom: 200px;
}

.image {
  border-radius: 50%;
  width: 150px;
}

.card-style {
  max-width: 350px;
  background-color: #3e2c41;
  border-radius: 10px;
}

.team-description-div {
  padding-left: 400px;
  padding-right: 400px;
}

@media (max-width: 1200px) {
  .team-description-div {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 768px) {
  .team-description-div {
    padding-left: 100px;
    padding-right: 100px;
  }
}
