@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");

.services-exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #41436a;
}

.exo-2-title {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.glass-effect {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.background1 {
  background-image: linear-gradient(to bottom, #fe9677 , #984063);
}

.custom-button {
  background-color: purple;
  color: white;
  border: 3px solid white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: double;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: white;
  color: purple;
  border-color: purple;
}

.title-start-service {
  
}

.title-middle-service {
  padding-bottom: 20px;
}

.title-end-service {
 
}


@media (max-width:1200px) {
  .title-middle-service {
    padding-bottom: 0px;
  }
}

