.header-mdiv {
  /* Background */
  /* background-image: url(../../Assets/Contact\ us/Main\ Images/Mig.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* Behavior*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sizes and spacing */
  min-width: 100%;
  min-height: 35dvh;
  margin-top: -2em;
}

.header-contact-us{
  background-image: url(../../Assets/Contact\ us/Main\ Images/Mig.png);
}

.header-services  {
  background-image: url(../../Assets/Our\ Services/Header/Our\ services.png);
}

.header-about{
  background-image: url(../../Assets/Our\ Services/Header/Our\ services.png);
}



.header

.header-mdiv img {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.header-mdiv h2 {
  /* Behavior */
  /* position: absolute; */
  color: #f2f2f2;
  text-align: center;
  /* border: 2px dashed #f2f2f2; */
 
  font-family: "Lovelo";
  font-weight: 900;
  font-size: 4rem;
  margin-top: 2em;
 
  /* z-index: 1; */
}



/* Breakpoints*/

@media (max-width: 1980px) {
  .header-mdiv img {
    object-fit: cover;
    width: auto;
    height: auto;
    
  }
  
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 552px) {
  .header-mdiv h2{
    margin-top: 0;
    font-size: 3rem;
    margin-top: 1em;
  }
}
@media (max-width: 552px) {
}
