:root {
  --fs-largeHeadings2: 4rem;
  --fs-Headings2: 3rem;
  --fs-paragraph2: 1.5rem;
}

.hm-hr-mdiv {
  height: 100%;
  margin-left: auto;
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  background-size: cover;
}

.hm-hr-background-img-1 {
  background-image: url(../../../Assets/Home/hm-mimg-1.png);
}

.hm-hr-background-img-2 {
  background-image: url(../../../Assets/Home/hm-mimg-2.png);
}

.hm-hr-background-img-3 {
  background-image: url(../../../Assets/Home/hm-mimg-3.png);
}

.hm-hr-mdivtext{margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hm-hr-mtext{
    font-family: 'Lovelo', sans-serif;
    font-weight: 1000 ;
    color: #f2f2f2;
    font-size: 4vw;
}

.hm-hr-mtext span{
    font-weight: 700;
    
}