.hm-hr-mdiv{
    height: 100%;
    margin-left: auto;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-size: cover;
}

.hm-hr-background-img-1{
    background-image: url(../../../Assets/Home/hm-mimg-1.png);
}

.hm-hr-background-img-2{
    background-image: url(../../../Assets/Home/hm-mimg-2.png);
}

.hm-hr-background-img-3{
    background-image: url(../../../Assets/Home/hm-mimg-3.png);
}

/* Main text */
.hm-hr-mdivtext{
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hm-hr-mtext{
    font-family: 'Lovelo', sans-serif;
    font-weight: 1000 ;
    color: #f2f2f2;
    font-size: 4vw;
}

p span{
    color: #4b3db2;
}

/* Main Image */

.hm-hr-mimgdiv{
    margin-top: 80px;
    padding-top: 0;
    position: relative;
    right: 0;
    padding-left: 5%;
}

.hm-hr-mimg{
    right: 0;
    background-size: cover;
    min-width: 100%;
    height: auto;
    border-radius: 100px 0px 0px 100px;
}

