.hm-hr-mdiv{
    height: 100vh;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}

/* Main text */
.hm-hr-mdivtext{
    margin-top: 100px;
    padding-top: 3%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.hm-hr-mtext{
    font-family: 'Lovelo', sans-serif;
    font-weight: 900;
    font-size: 5.5rem;
}

p span{
    color: #4b3db2;
}

/* Main Image */

.hm-hr-mimgdiv{
    margin-top: 100px;
    padding-top: 3%;
    position: relative;
    right: 0;
    padding-left: 5%;
}

.hm-hr-mimg{
    position: relative;
    right: 0;
    min-width: 150%;
    border-radius: 100PX;
}

