@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");

.title-cus{
  font-family: "Exo 2", sans-serif;
  font-size: 50px;
  color: azure;
}
.glass-effect {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: auto;
}

.background-1 {
  background-color: #414361;
}

.background-2 {
  background-color: #414361;
  padding-top: 20px;
}

.background-3 {
  background-color: #414361;
  padding-top: 20px;
  padding-bottom: 100px;
}

.chamz-logo {
  height: 200px;
}

.para-web-customer {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 20px;
}

/* Responsive designs */
@media (max-width: 1200px) {
  .background-3 {
    padding-bottom: 50px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .title-cus{
    font-size: 40px;
  }

  .para-web-customer{
    font-size: 15px;
  }
}

@media (max-width: 552px) {
  .title-cus{
    font-size: 30px;
  }
}
