/* Pasifico Font */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rowdies:wght@300;400;700&display=swap");

/* Main div */
.component-body-hero-web {

  min-height: 100vh;
}

/* First column We love what we are doing */
.first-col {
  min-height: 100vh;
  background:linear-gradient(to bottom, #fe9677, #f64668, #984063,#41436a)
}

/* Second column with photos */
.second-col {
  min-height: 100vh;

  padding-left: 0px;
  padding-right: 0px;
}

/* We love what we are doing text */
.main-text {
  color: azure;
  font-family: "Pacifico", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: 130px;
}

/* main image */
.main-img {
  min-height: 100vh;
  width: 100%;
  height: auto;
}

/* Second Row */
.second-row{
  background-color: aqua;
}



/* Responsive Design - 1200px, 992px, 768px, 576px */
@media (max-width: 1200px) {

  .main-text {
    font-size: 110px;
  }
}


@media (max-width: 992px) {
  .main-text {
    font-size: 110px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }
}

@media (max-width: 768px) {
  .main-text {
    font-size: 90px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }
}

@media (max-width: 576px) {
  .main-text {
    font-size: 70px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }


}


