/* Pasifico Font */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

@import "react-alice-carousel/lib/alice-carousel.css";
/* Main div */
.component-body-hero-web {
  position: relative;
  text-align: center;
  margin-top: -100px;
}

/* Main text area of the hero web */
.hero-main-text{
position: absolute;
top: 45%;
z-index:2;

}

.hero-main-text-fonts{
  font-family: "Calistoga", serif;
  font-weight: 100;
  font-size: 120px;
  color:white;
}

/* First column We love what we are doing */
.first-col {
  min-height: 100vh;
  background:linear-gradient(to bottom, #6E85B2, #5C527F, #3E2C41,#261C2C)
}

/* Second column with photos */
.second-col {
  min-height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}

/* We love what we are doing text */
.main-text {
  color: azure;
  font-family: "Josefin Sans", sans-serif;  
  font-weight: 900;
  font-style: normal;
  font-size: 130px;
}

/* main image */
.main-img {
  min-height: 100vh;
  width: 100%;
  height: auto;
}

/* Second Row */
.second-row{
  background-color: aqua;
}

/* tech row */
.tech-row{
  padding-left: 100px;
  padding-right: 100px;
}



/* Responsive Design - 1200px, 992px, 768px, 576px */
@media (max-width: 1200px) {

  .main-text {
    font-size: 110px;
  }

  .hero-main-text-fonts{
    font-size: 95px;
  }
}


@media (max-width: 992px) {
  .main-text {
    font-size: 110px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }

  .tech-row{
    max-height: 57px;
  }

  .hero-main-text-fonts{
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .main-text {
    font-size: 90px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }

  .tech-row{
    max-height: 50px;
  }

  .hero-main-text-fonts{
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .main-text {
    font-size: 70px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }

  .tech-row{
    padding-left: 0px;
    padding-right: 0px;
  }




}


