/* Pasifico Font */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

@import "react-alice-carousel/lib/alice-carousel.css";

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


/* Main div */
.component-body-hero-web-services {
  position: relative;
  text-align: center;
  margin-top: -100px;
  min-height: 1vw;
}

/* Main text area of the hero web */
.hero-main-text-services{
position: absolute;
top: 45%;
z-index:2;

}

.hero-main-text-fonts-services{
  font-family: "Calistoga", serif;
  font-weight: 100;
  font-size: 120px;
  color:white;
}



/* main image */
.main-img-services {
  min-height: 100vh;
  width: 100%;
  height: auto;
}

/* Second Row */
.second-row{
  background-color: aqua;
}

/* tech row */
.tech-row{
  padding-left: 100px;
  padding-right: 100px;
}

/* Let's Talk button */
.btn-web{
  --color: #f2f2f2;
  --color2: #4b3db2;
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: absolute; 
  overflow: hidden;
  cursor: pointer;
  font-family:Exo 2;
  z-index: 3;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  color: var(--color);
  top:70%;

  
 }
 
 .btn-web::after, .btn-web::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 
 }
 
 .btn-web::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn-web:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn-web:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn-web:hover {
  color: var(--color2);
 }
 
 .btn-web:active {
  filter: brightness(.7);
  transform: scale(.98);
 }



/* Responsive Design - 1200px, 992px, 768px, 576px */
@media (max-width: 1200px) {

  .main-text {
    font-size: 110px;
  }

  .hero-main-text-fonts{
    font-size: 95px;
  }
}


@media (max-width: 992px) {
  .main-text {
    font-size: 110px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }

  .tech-row{
    max-height: 57px;
  }

  .hero-main-text-fonts{
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .main-text {
    font-size: 90px;
  }

  .btn-web{
    font-size: 20px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }

  .tech-row{
    max-height: 50px;
  }

  .hero-main-text-fonts{
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .main-text {
    font-size: 70px;
  }

  .first-col {
    min-height: 100vh;
  }

  .second-col {
    min-height: 0vh;
  }

  .main-img{
    display:none;
  }

  .tech-row{
    padding-left: 0px;
    padding-right: 0px;
  }

  .btn-web{
    font-size: 15px;
  }

 .hero-main-text-fonts{
  font-size: 40px;
 }


}

@media(max-width:400px){
.hero-main-text-fonts{
  font-family: "Calistoga", serif;
  font-weight: 100;
  font-size: 20px;
  color:white;
  padding-top: 20px;
}

}

