@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

.card-lt-tlk {
  background: linear-gradient(60deg, #4b3db2 0%, #3e2c41 100%);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #f2f2f2;
  font-family: "Exo 2";
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  justify-self: end;
}

.form .group label {
  font-family: "Exo 2";
  font-size: 16px;
  color: #f2f2f2;
  position: absolute;
  top: -10px;
  left: 10px;
  background: transparent;
  transition: all 0.3s ease;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #817a7a;
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  padding-top: 20px;
  background-color: transparent;
}

.form .group input:placeholder-shown + label,
.form .group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: #f2f2f2;
}

.form .group input:focus + label,
.form .group textarea:focus + label {
  top: -10px;
  left: 10px;
  background: #261c2c;
  color: #f2f2f2;
  font-weight: 600;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
}

.form .group textarea {
  resize: none;
  height: 200px;
}

.form button {
  background-color: #261c2c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "Exo 2";
  font-size: 16px;
  cursor: pointer;
  margin-right: 200px;
  margin-left: 200px;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #4b3db2;
  color: #f2f2f2;
}

@media (max-width: 1200px) {
  .form button {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media (max-width: 992px) {
  .card-lk-tlk {
    width: 98%;
  }
}

@media (max-width: 768px) {
  .card-lk-tlk {
    width: 98%;
    padding-left: 10px;
  }
  .form button {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 552px) {
  .card-lk-tlk {
    width: 98%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
  }
  .form button {
    margin-right: 0px;
    margin-left: 0px;
  }

  .form .group input:focus + label,
  .form .group textarea:focus + label {
    font-weight: 400;
    font-size: 10px;
  }

  .form .group label{
    font-size: 12px;
  }
}
