/* Default design */

/* Content Area */
.content-area{
    padding-left: 200px;
    padding-right: 200px;
}
.component-body-hero-web {
    position: relative;
    text-align: center;
    margin-top: -100px;
    min-height: 1vw;
  }
  
  /* Main text area of the hero web */
  .hero-main-text{
  position: absolute;
  top: 65%;
  z-index:2;
  
  }
  
  .hero-main-text-fonts{
    font-family: "Calistoga", serif;
    font-weight: 100;
    font-size: 55px;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
  }
  

  /* main image */
  .main-img {
    min-height: 100vh;
    width: 100%;
    height: auto;
  }

  /* Vision area */
  .vision-text {
    font-family: "Exo 2", sans-serif;
    color:#f2f2f2;
  }

@media (max-width:1200px){

  .hero-main-text-fonts{

    font-size :45px;
   
  }

}

@media (max-width:992px){


  .hero-main-text-fonts{

    font-size: 35px;
   
  }

  .content-area{
    padding-left: 120px;
    padding-right:120px;
  }
}

@media (max-width:768px){


  .hero-main-text-fonts{

    font-size: 25px;
   
  }

  .content-area{
    padding-left: 80px;
    padding-right:80px;
  }
}

@media(max-width:576px){


  .hero-main-text-fonts{

    font-size: 18px;
   
  }

  .content-area{
    padding-left: 40px;
    padding-right:40px;
  }
}

@media(max-width:400px){


  .hero-main-text-fonts{

    font-size: 14px;
   
  }

  .content-area{
    padding-left: 20px;
    padding-right:20px;
  }
}