.about-ot-mdiv {
  /* Behavior */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Sizes and spacing */
  max-width: 120em;
  width: 90%;
  margin: 2em auto;
}

.about-ot-header {
  /* Sizes and spacing */
  padding: 2em 0em 2em 10em;
}
.about-card-line {
  /* behavior */

  align-self: flex-end;
  /* Colors */
  background-color: #4b3db2;
  /* Sizes and spacing */
  border-radius: 10px;
  height: 5px;
  width: 170px;
  margin-left: -3em;
}

.about-ot-header h2 {
  /* Fonts */
  font-family: Lovelo, sans-serif;
  font-weight: 800;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 0;
}

.about-ot-card-container {
  /* Behavior */
  display: flex;
  justify-content: center;
  /* Spacing */
  gap: 5%;
}
.about-ot-card {
  /* color */
  background-color: rgba(75, 61, 178, 0.3);

  /* Sizes and spacing */
  width: 20%;
}

.about-ot-card img {
  /* Sizes and spacing */
  width: 100%;
  height: auto;
}

.about-ot-mainDetails {
  /* Colors */
  background-color: #4b3db2;
  color: #f2f2f2;

  align-self: center;

  /* Sizes and spacing */

  margin: 1em 0em;
  padding: 0.7em 0em;
}

.about-ot-mainDetails p {
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;

  margin-bottom: 0;
}

.about-ot-mainDetails h4 {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

@media (max-width:992px){
    .about-ot-mainDetails h4 {
        font-size: 1rem;
    }
    .about-ot-mainDetails p {
        font-size: 0.7rem;
    }
    .about-ot-header h2{
        font-size: 2.5rem;
    }
}

@media (max-width:768px){
    .about-ot-mainDetails h4 {
        font-size: 0.8rem;
    }
    .about-ot-mainDetails p {
        font-size: 0.6rem;
    }
}


@media (max-width:552px){
    .about-ot-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-ot-card{
        width: 70%;
        margin-bottom: 1em;
    }

    .about-ot-mainDetails h4 {
        font-size: 1.5rem;
    }
    .about-ot-mainDetails p {
        font-size: 0.8rem;
    }

    .about-ot-header{
        padding:2em 0em 2em 0em;
       align-self: center;
    }
    
    .about-card-line{
        display: none;
    }
}